# .github/workflows/aws-infra-dev.yml
name: "AWS Infra - Dev"

on:
  push:
    branches: [main]
    paths:
      - 'infra/aws/envs/dev/**'
  pull_request:
    branches: [main]
    paths:
      - 'infra/aws/envs/dev/**'
  workflow_dispatch:  # Manual trigger

env:
  TF_VERSION: "1.7.0"
  AWS_REGION: "eu-west-2"
  WORKING_DIR: "infra/aws/envs/dev"

permissions:
  id-token: write
  contents: read
  pull-requests: write

concurrency:
  group: aws-infra-dev
  cancel-in-progress: false

jobs:
  plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::354852339163:role/GitHubActionsTerraformRole
          aws-region: eu-west-2
          #role-to-assume: ${{ secrets.AWS_ROLE_ARN_DEV }}
          #aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform init -input=false

      - name: Terraform Format Check
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform fmt -check

      - name: Terraform Validate
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform validate

      - name: Terraform Plan
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform plan -input=false -no-color -out=tfplan

      - name: Upload Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-dev
          path: ${{ env.WORKING_DIR }}/tfplan

  apply:
    name: "Terraform Apply"
    needs: plan
    runs-on: ubuntu-latest
    # Apply only on main + push or manual dispatch
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_DEV }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform init -input=false

      - name: Download Plan
        uses: actions/download-artifact@v4
        with:
          name: tfplan-dev
          path: ${{ env.WORKING_DIR }}

      - name: Terraform Apply
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform apply -input=false -auto-approve tfplan