name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      AR_REPO: "europe-west2-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/flask-repo"
      IMAGE_NAME: "flask-gke-demo"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: GCP login + Docker auth
        uses: ./.github/actions/gcp-login
        with:
          service-account-key: ${{ secrets.GCP_SA_KEY }}
          configure-docker: "true"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        run: |
          IMAGE_TAG_SHA="${AR_REPO}/${IMAGE_NAME}:${GITHUB_SHA}"
          IMAGE_TAG_LATEST="${AR_REPO}/${IMAGE_NAME}:latest"

          echo "IMAGE_TAG_SHA=$IMAGE_TAG_SHA"
          echo "IMAGE_TAG_LATEST=$IMAGE_TAG_LATEST"

          docker buildx build \
            --platform linux/amd64 \
            -t "$IMAGE_TAG_SHA" \
            -t "$IMAGE_TAG_LATEST" \
            --push .